{% extends 'cohapp/base_experiment.html' %}

{% block title %}Experiment{% endblock %}

{% load static %}

{% block container %}


<div id="treatment" class="row">

</div>

{% endblock %}

{% block endscripts %}
  <script src="{% static 'cohapp/js_big/vendor/medium-editor.js' %}"></script>
  <script src="{% static 'cohapp/js_big/vendor/d3.js' %}"></script>
  <script src="{% static 'cohapp/js_big/vendor/jquery.js' %}"></script>
  <script src="{% static 'cohapp/js_big/vendor/materialize.js' %}"></script>
  <script src="{% static 'cohapp/js/treatment.min.js' %}"></script>
  <!-- ScreenAlytics; Commented out because it does not exist any more. At least not at this URL. -->
  <!-- <script type="text/javascript" async src="https://tueds25-exp.srv.mwn.de/mh/sa1810/u/11/websites/1.js"></script> -->
{% endblock %}

