Django<2.0
gunicorn==19.3.0
psycopg2<2.9
django-htmlmin<1.0
djangorestframework<3.10
markdown<3.2
django-filter<2.0
pygermanet
numpy<1.17
pandas<0.25
nltk<3.5
python-levenshtein
pyenchant<3.0
more-itertools<6.0
repoze.lru
langdetect<1.1
spacy<3.0
